<p>registration works!</p>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Username</label>
        <input formControlName="username" />
        <div *ngIf="registrationForm.controls['username'].errors && registrationForm.controls['username'].touched">
          Username is required.
        </div>
    </div>
  
    <div>
        <label>Email</label>
        <input formControlName="email" />
        <div *ngIf="registrationForm.controls['email'].errors && registrationForm.controls['email'].touched">
          <div *ngIf="registrationForm.controls['email'].errors['required']">Email is required</div>
          <div *ngIf="registrationForm.controls['email'].errors['email']">Email is invalid</div>
        </div>
    </div>
  
    <div>
        <label>Password</label>
        <input type="password" formControlName="password" />
        <div *ngIf="registrationForm.controls['password'].errors && registrationForm.controls['password'].touched">
          <div *ngIf="registrationForm.controls['password'].errors['required']">Password is required</div>
          <div *ngIf="registrationForm.controls['password'].errors['minlength']">Password must be at least 8 characters</div>
        </div>
    </div>
  
    <div>
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" />
        <div *ngIf="registrationForm.controls['confirmPassword'].errors && registrationForm.controls['confirmPassword'].touched">
          <div *ngIf="registrationForm.controls['confirmPassword'].errors['required']">Please confirm required</div>
          <div *ngIf="registrationForm.controls['confirmPassword'].errors['passwordMismatch']">Passwords must match</div>
        </div>
    </div>

    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
    
</form>  