<p>login works!</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Email</label>
        <input formControlName="email" />
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            Email is required and must be valid.
        </div>
    </div>

    <div>
        <label>Username</label>
        <input formControlName="username" />
        <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
            Username is required and must be at least 5 characters.
        </div>
    </div>
    
    
    <div>
        <label>Password</label>
        <input type="password" formControlName="password" />
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            Password is required and must be at least 8 characters.
        </div>
    </div>
    
    
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  
